
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(229, 237, 237);
    min-height: 100vh;
    border: 10px solid rgb(5, 5, 62);
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.content{
    max-width: 900px;
    margin: 0 auto;

}

.image_container{
    width: 300px;
    height: 320px;
    
   
}